/* Tema claro */
:root{
    --primary-color: #c50a9c;
    --secondary-color: #cee4e3;
    --tertiary-color: #f8a9f5;
}

/* Otro metodo para cargar imagenes segun el tema */
/* .mi-img {
    content: url("./ibuki.png");
} */

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
    :root{
        --primary-color: #252233;
        --secondary-color: #4b6ea2;
        --tertiary-color: #7f4c84;
    }
    /* .mi-img {
        content: url("./ibuki2.jpg");
    } */
}

/* General (ambos temas) */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

h1{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 10px;
    border: 2px solid  var(--primary-color);
}
    
.imagen {
    min-width: 300px;
    max-width: 600px;
    max-height: 600px;
    height: 80%;
    border: 2px solid  var(--primary-color);
}